In [7]:
import pandas as pd
import numpy as np
from pymongo import MongoClient
import gmaps

with open('../.env') as file:
        key = file.read()
#key = pd.read_csv('.env')
gmaps.configure(api_key= key)

client = MongoClient ('localhost', 27017)
data = client['houses_final_project_data'].houses_madrid

In [20]:
df = pd.read_csv('data_wrangled.csv')

In [21]:
def get_near_houses(row):
    nearLocation = {
        "lng": row["longitude"],
        "lat": row["latitude"]
    }

    adyacents = pd.DataFrame(data.find({
        "loc": {
         "$near": {
           "$geometry": {
              "type": "Point" ,
               "coordinates": [ nearLocation["lng"] , nearLocation["lat"] ]
              #"coordinates": [ nearLocation["lat"] , nearLocation["lng"] ]
           },
           "$maxDistance": 1000, # In meters
         }
       }
    }))
    
    return adyacents

In [22]:
df['loc'] = list(zip(df['longitude'], df['latitude']))
df.to_json("data_wrangled_geo.json", orient="records", lines=True)

In [23]:
df = pd.DataFrame(list(data.find({})))

In [24]:
df.head()

,_id,bathrooms,floor,floor_was_missing,latitude,loc,longitude,price,price_cut,price_m2,rooms,size
0,5cf945144b848f20aeda5f64,1,4.000000,False,40.430409,"[-3.5578887, 40.4304094]",-3.557889,226000,"(209000.0, 230000.0]",2897,2,78.0
1,5cf945144b848f20aeda5f65,1,0.000000,False,40.423733,"[-3.5611868, 40.4237329]",-3.561187,98500,"(93000.0, 110000.0]",1790,2,55.0
2,5cf945144b848f20aeda5f66,1,2.420332,True,40.430736,"[-3.6350217, 40.4307359]",-3.635022,129000,"(124000.0, 133900.0]",1842,3,70.0
3,5cf945144b848f20aeda5f67,1,2.420332,True,40.384267,"[-3.6630031, 40.384267]",-3.663003,220000,"(209000.0, 230000.0]",3098,3,71.0
4,5cf945144b848f20aeda5f68,1,0.000000,False,40.343037,"[-3.7089705, 40.3430374]",-3.708970,148000,"(143417.5, 155000.0]",2144,2,69.0

In [43]:
def check_price_deviation(price, mean_price):
    deviation = price / mean_price
    if deviation > 1.2:
        return 1.5
    if deviation < 0.8:
        return 0.5
    else:
        return 1

In [44]:
def get_mean(series):
    return series.mean()

In [45]:
df['price_deviation'] = None
for index, row in df.iterrows():
    adyacents = get_near_houses(row)
    #mean = get_mean(adyacents['price_m2'])
    price_deviation = check_price_deviation(row['price_m2'], adyacents['price_m2'].mean())
    df.loc[index, 'price_deviation'] = price_deviation

In [52]:
fig = gmaps.figure()
colors = ['red', 'green', 'blue']
cheap = df[df['price_deviation'] == 0.5]
medium = df[df['price_deviation'] == 1]
expensive = df[df['price_deviation'] == 1.5]

house_locs_cheap = cheap[['latitude', 'longitude']]
house_locs_medium = medium[['latitude', 'longitude']]
house_locs_expensive = expensive[['latitude', 'longitude']]

symbols1 = gmaps.symbol_layer(house_locs_cheap, stroke_color= 'green')
symbols2 = gmaps.symbol_layer(house_locs_medium, stroke_color= 'blue')
symbols3 = gmaps.symbol_layer(house_locs_expensive, stroke_color= 'red')

fig.add_layer(symbols1)
fig.add_layer(symbols2)
fig.add_layer(symbols3)
fig

Figure(layout=FigureLayout(height='420px'))